{% extends 'datagenApp/base.html' %} {% load static %} {% block content %}
<!-- One "tab" for each step in the form: -->
<div class="tab mt-5">
    <div
        class="left_portion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 shadow bg-body-tertiary rounded mx-auto p-5 mb-5 mt-5">
        <h3 class="text-center">First Page</h3>
        <div class="row">
            <!---Input File-->
            <div class="inputfile col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <fieldset>
                    <legend>Input File:</legend>
                    <div class="custom-file d-flex">
                        <input type="file" class="form-control form-control-sm" id="inputGroupFile04"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="filename" />
                        <button class="btn btn-dark btn-sm mx-2" type="button" id="openFile" name="preview_in_file">
                            Open
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock content %}