{% extends 'datagenApp/base.html' %} {% load static %} {% block title %} Data
Generator {% endblock title %} {% block content %}

<!-- One "tab" for each step in the form: -->
<div class="tab mt-5">
  <div
    class="left_portion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 shadow bg-body-tertiary rounded mx-auto px-5 py-4 my-5 text-left">
    <form method="post" action="#">
      {% csrf_token %}
      <div class="row">
        <div class="row1">
          <!---row1 Transport key-->
          <!-- <button type="submit" name="letter" value="A">A</button>
          <button type="submit" name="letter" value="B">B</button>

          <input type="text" name="output" value="{{ output }}" readonly> -->

          <label for="vendor text-left"> Transport Key: </label>
          <div class="transportKey d-flex">
            <input type="text" class="form-control form-control-sm" id="outputfile" name="k4_key_text" value="{{ K4 }}"
              minlength="32" maxlength="64" required />
            <button type="submit" class="btn btn-dark btn-sm mx-1" id="fetch_button" name="k4_key"
              value="k4_fetch_button">
              Fetch
            </button>
            <button type="submit" class="btn btn-dark btn-sm mx-1" id="auto_button" name="k4_key"
              value="k4_auto_button">
              Auto
            </button>

            <!-- <input type="checkbox" id="checkbox" name="checkbox">
            <label for="checkbox">RANDOM</label> -->
          </div>
        </div>
        <div class="row2 mt-2 p">
          <!---row2 Operator Key-->
          <label for="vendor"> Operator Key: </label>
          <div class="operatorkey d-flex justify-content-evenly">
            <input type="text" class="form-control form-control-sm" id="outputfile" name="op_key_text" value="{{ OP }}"
              minlength="32" maxlength="32" required />
            <button type="submit" class="btn btn-dark btn-sm mx-1" name="op_key" id="fetch_button"
              value="FFFFFFFFFFFFFFFFFF(FETCH)">
              Fetch
            </button>
            <button type="submit" class="btn btn-dark btn-sm mx-1" name="op_key" id="auto_button"
              value="FFFFFFFFFFFFFFFFFF(RANDOM)">
              Auto
            </button>
          </div>
        </div>
        <div class="row3 mt-2 p">
          <label for="vendor"> Data Size: </label>
          <div class="transportKey d-flex justify-content-evenly">
            <input type="text" class="form-control form-control-sm" id="inputfile" name="data_size_text" minlength="1"
              maxlength="6" value="{{ SIZE }}" pattern="[0-9]*" title="Please enter only integers" aria-describedby=""
              required />
            <button type="button" class="btn btn-dark btn-sm mx-1" name="data_size_auto">
              Auto
            </button>
          </div>
        </div>
        <div class="row4 mt-2 p">
          <label for="vendor"> IMSI: </label>
          <div class="transportKey d-flex justify-content-evenly">
            <input type="text" class="form-control form-control-sm" id="inputfile" name="imsi_text" minlength="15"
              maxlength="15" value="{{ IMSI }}" pattern="[0-9]*" title="Please enter only integers" aria-describedby=""
              required />
            <button type="button" class="btn btn-dark btn-sm mx-1" name="imsi_auto">
              Auto
            </button>
          </div>
        </div>
        <div class="row5 mt-2 p">
          <label for="vendor"> ICCID: </label>
          <div class="transportKey d-flex justify-content-evenly">
            <input type="text" class="form-control form-control-sm" id="inputfile" name="iccid_text" minlength="18"
              maxlength="20" value="{{ ICCID }}" pattern="[0-9]*" title="Please enter only integers" aria-describedby=""
              required />
            <button type="button" class="btn btn-dark btn-sm mx-1" name="iccid_auto">
              Auto
            </button>
          </div>
        </div>
        <div class="row6 mt-2 p-0 d-flex">
          <div class="col-6">
            <div class="row">
              <label for=" "> Pin 1: </label>
              <div class="pin1 d-flex">
                <input type="text" class="form-control form-control-sm" id="" name="pin1_text" aria-describedby=""
                  value="{{ PIN1 }}" minlength="4" maxlength="4" required />
                <button type="button" class="btn btn-dark btn-sm mx-1" name="pin1_auto">
                  Auto
                </button>

                <div class="fixedchk d-flex mt-1">
                  <div class="form-check mx-1">
                    <input class="form-check-input" type="checkbox" id="pin1_rand_check" name="pin1_rand_check"
                      value="True" />
                    <label class="form-check-label" for=""> Fixed </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="vendor"> Pin 2: </label>
              <div class="pin1 d-flex justify-content-evenly">
                <input type="text" class="form-control form-control-sm" id="inputfile" name="pin2_text" minlength="4"
                  maxlength="4" value="{{ PIN2 }}" aria-describedby="" required />
                <button type="button" class="btn btn-dark btn-sm mx-1" name="pin2_auto">
                  Auto
                </button>
                <div class="fixedchk d-flex mt-1">
                  <div class="form-check mx-1">
                    <input class="form-check-input" type="checkbox" id="pin2_rand_check" name="pin2_rand_check"
                      value="True" />
                    <label class="form-check-label" for="inlineFormCheck">
                      Fixed
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="vendor"> Adm 1: </label>
              <div class="pin1 d-flex justify-content-evenly">
                <input type="text" class="form-control form-control-sm" id="inputfile" name="adm1_text" minlength="4"
                  maxlength="8" value="{{ ADM1 }}" aria-describedby="" required />
                <button type="button" class="btn btn-dark btn-sm mx-1" name="adm1_auto">
                  Auto
                </button>
                <div class="fixedchk d-flex mt-1">
                  <div class="form-check mx-1">
                    <input class="form-check-input" type="checkbox" id="adm1_rand_check" name="adm1_rand_check"
                      value="True" />
                    <label class="form-check-label" for="inlineFormCheck">
                      Fixed
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <label for="vendor"> Puk 1: </label>
              <div class="pin1 d-flex justify-content-evenly">
                <input type="text" class="form-control form-control-sm" id="inputfile" name="puk1_text" minlength="4"
                  maxlength="8" value="{{ PUK1 }}" aria-describedby="" required />
                <button type="button" class="btn btn-dark btn-sm mx-1" name="puk1_auto">
                  Auto
                </button>
                <div class="fixedchk d-flex mt-1">
                  <div class="form-check mx-1">
                    <input class="form-check-input" type="checkbox" id="puk1_rand_check" name="puk1_rand_check"
                      value="True" />
                    <label class="form-check-label" for="inlineFormCheck">
                      Fixed
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="vendor"> Puk 2: </label>
              <div class="pin1 d-flex justify-content-evenly">
                <input type="text" class="form-control form-control-sm" id="inputfile" name="puk2_text" minlength="4"
                  maxlength="8" value="{{ PUK2 }}" aria-describedby="" required />
                <button type="button" class="btn btn-dark btn-sm mx-1" name="puk2_auto">
                  Auto
                </button>
                <div class="fixedchk d-flex mt-1">
                  <div class="form-check mx-1">
                    <input class="form-check-input" type="checkbox" id="puk2_rand_check" name="puk2_rand_check"
                      value="True" />
                    <label class="form-check-label" for="inlineFormCheck">
                      Fixed
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="vendor"> Adm 6: </label>
              <div class="pin1 d-flex justify-content-evenly">
                <input type="text" class="form-control form-control-sm" id="inputfile" name="adm6_text" minlength="4"
                  maxlength="8" value="{{ ADM6 }}" aria-describedby="" required />
                <button type="button" class="btn btn-dark btn-sm mx-1" name="adm6_auto">
                  Auto
                </button>
                <div class="fixedchk d-flex mt-1">
                  <div class="form-check mx-1">
                    <input class="form-check-input" type="checkbox" id="adm6_rand_check" name="adm6_rand_check"
                      value="True" />
                    <label class="form-check-label" for="inlineFormCheck">
                      Fixed
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--ROW 6 right part end-->
        </div>
      </div>
      <!-- <div class="col-12 text-end me-5"> -->
      <div class="col-12 text-end  text-center mt-4">
        <button type="submit" class="btn btn-primary px-4" name="submit">
          Save
        </button>
      </div>
    </form>
  </div>

  <a class="btn btn-secondary " href="{% url 'document' %}">Back</a>
  <a class="btn btn-primary" href="{% url 'electrical' %}">Next</a>
</div>
<script>
  // Get the checkbox element
  var checkbox = document.getElementById('checkbox')

  // Add event listener for 'change' event
  checkbox.addEventListener('change', function () {
    // Check if the checkbox is checked
    if (this.checked) {
      // If checked, fill the text box with "FFFFFF"
      document.getElementById('output').value = 'FFFFFF'
    } else {
      // If unchecked, leave the text box empty
      document.getElementById('output').value = ''
    }
  })
</script>
<script>
  // Function to save checkbox state to local storage
  function saveCheckboxState(checkboxId) {
    var checkbox = document.getElementById(checkboxId)
    localStorage.setItem(checkboxId + '_state', checkbox.checked)
  }

  // Function to load checkbox state from local storage
  function loadCheckboxState(checkboxId) {
    var checkbox = document.getElementById(checkboxId)
    var checkboxState = localStorage.getItem(checkboxId + '_state')
    if (checkboxState === 'true') {
      checkbox.checked = true
    } else {
      checkbox.checked = false
    }
  }

  // Load checkbox states when the page is loaded
  window.onload = function () {
    loadCheckboxState('pin1_rand_check')
    loadCheckboxState('puk1_rand_check')
    loadCheckboxState('pin2_rand_check')
    loadCheckboxState('puk2_rand_check')
    loadCheckboxState('adm1_rand_check')
    loadCheckboxState('adm6_rand_check')
  }

  // Save checkbox states when the checkboxes are clicked
  document
    .getElementById('pin1_rand_check')
    .addEventListener('change', function () {
      saveCheckboxState('pin1_rand_check')
    })
  document
    .getElementById('puk1_rand_check')
    .addEventListener('change', function () {
      saveCheckboxState('puk1_rand_check')
    })
  document
    .getElementById('pin2_rand_check')
    .addEventListener('change', function () {
      saveCheckboxState('pin2_rand_check')
    })
  document
    .getElementById('puk2_rand_check')
    .addEventListener('change', function () {
      saveCheckboxState('puk2_rand_check')
    })
  document
    .getElementById('adm1_rand_check')
    .addEventListener('change', function () {
      saveCheckboxState('adm1_rand_check')
    })
  document
    .getElementById('adm6_rand_check')
    .addEventListener('change', function () {
      saveCheckboxState('adm6_rand_check')
    })
</script>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get references to the buttons, textarea, and hidden input field
    const fetchButton = document.getElementById("fetch_button");
    const autoButton = document.getElementById("auto_button");
    const textarea = document.getElementById("outputfile");
    const textValueInput = document.getElementById("text_value");

    // Add click event listener for the fetch button
    fetchButton.addEventListener("click", function () {
      textarea.value = "Fetch";
      textValueInput.value = "Fetch"; // Set the hidden input value
    });

    // Add click event listener for the auto button
    autoButton.addEventListener("click", function () {
      textarea.value = "Auto";
      textValueInput.value = "Auto"; // Set the hidden input value
    });
  });

</script> -->

{% endblock content %}