{% extends 'datagenApp/base.html' %}
{% load static %}
{% block title %}
Data Generator

{% endblock title %}

{% block content %}

<!-- One "tab" for each step in the form: -->
<div class="tab mt-5 " >
    <div
        class="left_portion col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11 shadow bg-body-tertiary rounded mx-auto px-5 py-3 mb-5 mt-5" >
        <h3 class="text-center">Data Preview</h3>
        {% if data_generated %}
        <div class="data " style=" overflow-x: scroll; border: none; height:650px">
            {{ df_html | safe }}
        </div>
        
        {% else %}
        <!-- <p class="text-danger">No data generated.</p> -->
        <div class="alert alert-danger">No data generated.</div>

        {% endif %}
        <div class="col-12 text-end  text-center mt-2">
            <form action="#" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary " name="submit">Generate</button>
            </form>
        </div>
    </div>

    <a class="btn btn-secondary btn-sm" href="{% url 'graphical' %}">Back</a>
    <a class="btn btn-primary btn-sm" href="{% url 'generate' %}">Next</a>

    
</div>

{% endblock content %}